.App {
    display: flex;
    background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}